// Your custom styles
@for $i from 8 through 80 {
    .font-#{$i} {
      font-size: $i + px !important;
    }
}
body{
    font-size: 1rem;
    color:#211748;
    background: white;
}

.section-home-mt{
    margin-top: 130px;
}
.footer-blue-rounded{
    height: 170px;
    border-color: #0865fb transparent transparent transparent;
    border-radius: 50%/150px 150px 0 0;
    background-color: #0865fb !important;
}

.btn-info:not([disabled]):not(.disabled):active, .btn-info:not([disabled]):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    background-color: #0865fb !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-info {
    color: #0865fb;
    background-color: #DAE6F5 !important;
}
.btn-info:hover {
    color: #0865fb;
    background-color: #eef4fa;
}
.btn-info:active {
    color: #0865fb;
    background-color: #eef4fa;
}
.footer-gracias{
    margin-top: -72px;
}
.fondo-footer-simulador{
    background-image: url("../img/curva-d-s.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.footer-background{
    height: 1611px;
    background-image: linear-gradient(0deg, #0865fb 0%, #0865fb 100%);
    clip-path: ellipse(200% 115% at 50.5% 150%);
    z-index: -1;
}
.footer-background-otra{
    height: 1162px;
    background-image: linear-gradient(0deg, #0865fb 0%, #0865fb 100%);
    clip-path: ellipse(200% 115% at 50.5% 150%);
    z-index: -1;
}
.footer-background-gracias {
    height: 211px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0865fb), to(#0865fb));
    background-image: linear-gradient(
                    0deg
            , #0865fb 0%, #0865fb 100%);
    -webkit-clip-path: ellipse(200% 115% at 50.5% 150%);
    clip-path: ellipse(106% 115% at 50.5% 136%);
    z-index: -1;
}
.absolute-center{
    left: 0;
    right: 0;
}
@media (min-width: 768px){
    .footer-blue-rounded-alto-a{
        position: absolute;
        width: 100%;
        height: 0rem;
        z-index: -1;
        bottom: -175px;
    }
    .footer-blue-rounded-alto{
        width: 100%;
        height: 71rem;
        z-index: -1;
    }
}
.img-background{
    width: 100%;
    position: absolute;
}
.z-index-1{
    z-index: -1;
}
.z-index-99{
    z-index: 99;
}
.btn-p{
    padding: 10px 20px !important;
}
.btn-c{
    padding: 5px 15px !important;

}
@media (max-width: 768px){
    .footer-background {
        height: 1611px;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#0865fb), to(#0865fb));
        background-image: linear-gradient(
                        0deg
                , #0865fb 0%, #0865fb 100%);
        -webkit-clip-path: ellipse(200% 115% at 50.5% 150%);
        clip-path: ellipse(286% 115% at 50.5% 150%);
        z-index: -1;
    }
    .footer-blue-rounded {
        height: 124px;
        border-color: #0865fb transparent transparent transparent;
        border-radius: 76%/100px 100px 0 0;
        background-color: #0865fb !important;
    }
    .section-home-mt {
        margin-top: 60px;
    }
    .img-gracias{
        width: 230px;
    }
    @for $i from 8 through 80 {
        .font-#{$i}-m {
            font-size: $i + px !important;
        }
    }
}