// Footer
footer.page-footer.pt-4.footer-gracias
    // Copyright
    img(src="img/curva-d-p.svg").img-background.z-index-1.d-md-block.d-none
    img(src="img/curva-m-p.svg").img-background.z-index-1.d-md-none.d-block
    .py-3.text-center
        .container-fluid.pt-md-5.pt-5
            a(href='' )
                img(src="img/logo-buenbit-d-w.svg")
    // Copyright
// Footer