// Footer
footer.page-footer.pt-4.footer-gracias
    // Copyright
    .footer-copyright.py-3.text-center.footer-blue-rounded
        .container-fluid.pt-md-4.py-5
            a(href='' )
                img(src="img/logo-buenbit-d-w.svg")
    // Copyright
// Footer
