// Footer
footer.page-footer.pt-md-4.mt-5.footer-blue-rounded-alto-a
    // Copyright
    .footer-copyright.py-3.text-center.footer-blue-rounded.footer-blue-rounded-alto
        .container-fluid.pt-md-4.pt-4.d-md-none.d-block
            a(href='' )
                img(src="img/logo-buenbit-d-w.svg")
    // Copyright
// Footer
