// Navbar
nav.navbar.fixed-top.navbar-expand-lg.scrolling-navbar.double-nav.bg-white
    .container.col-md-10
        // SideNav slide-out button
        .float-left.d-md-none.d-block
            a
                img(src="img/logo-buenbit-d.svg")
            //
                a.button-collapse.black-text(href='#' data-activates='slide-out')
                    i.fas.fa-bars
        // Breadcrumb
        .breadcrumb-dn.mr-auto
            a
                img(src="img/logo-buenbit-d.svg")
        // Navbar links
        ul.nav.navbar-nav.nav-flex-icons.ml-auto.d-md-flex.d-none
            li.nav-item.align-items-center.d-flex
                a.nav-link.text-primary.font-weight-normal
                    span.clearfix.d-none.d-sm-inline-block Descargá la app
            li.nav-item.mx-md-3
                a.nav-link.btn.btn-rounded.btn-outline-primary.btn-lg.px-4.py-2
                    span.clearfix.d-none.d-sm-inline-block Crear cuenta
            li.nav-item
                a.nav-link.btn.btn-rounded.btn-primary.btn-lg.px-4.py-2
                    span.clearfix.d-none.d-sm-inline-block Ingresar
        // Navbar links
// Navbar
