// JQuery
script(src='js/jquery-3.4.1.min.js')
// Bootstrap tooltips
script(type='text/javascript' src='js/popper.min.js')
// Bootstrap core JavaScript
script(type='text/javascript' src='js/bootstrap.js')
// Bootstrap slider rang JavaScript
script(type='text/javascript' src='js/bootstrap-slider.js')
// MDB core JavaScript
script(type='text/javascript' src='js/mdb.js')
// Script
script(type='text/javascript' src='js/script.js')
block script

