html
    head
        meta(charset='utf-8')
        meta(name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv='x-ua-compatible' content='ie=edge')
    body(style="background: antiquewhite;font-family: -webkit-pictograph;color:#211748;")

        div(style=" width: 600px;margin-left: auto;margin-right: auto;")
            smal(style="color: #838383;font-size: 12px;") Mail
            div(style="background: #f9f9f9;")
                div(style="padding: 2rem 4rem;")
                    div
                        img(src='https://www.buenbit.com/static/media/logo.d3710a68.svg', style='margin-left: auto;margin-right: auto;display: block;')
                    div(style="margin-top: 2.5rem;")
                        h2(style="font-weight: 100;") Hola %full_name%
                        p(style="line-height:2rem") Gracias por enviarnos la solicitud. Dejamos el detalle de la simulación, y nos pondremos en contacto a la brevedad.
                    div(style="margin-top: 3rem;")
                        h4(style="color:#4cadf8;") Resumen de solicitud
                        div(style="background: white;width: 87%;border-radius: 20px;box-shadow: 0px 0px 10px 0px #0000001f;padding: 20px 30px;")
                            table(style="width: 60%;")
                                tr
                                    td(style="color: #9c9c9c;") CTF:
                                    td.font-weight-bold.interes(style="font-weight: bold;") %interes%
                                tr(style="height: 50px;")
                                    td(style="color: #9c9c9c;") Cuota mensual:
                                    td.font-weight-bold.cuotas(style="font-weight: bold;") %cuota%
                                tr
                                    td(style="color: #9c9c9c;") Interés total a pagar:
                                    td.font-weight-bold.interes_total(style="font-weight: bold;") %interes_total%
                div(style="height: 130px;background-image: linear-gradient(0deg, #0865fb 0%, #0865fb 100%);clip-path: ellipse(66% 115% at 50.5% 120%);;z-index: -1;")