extends ../layouts/_layout
block variables
    - var title='Buenbit || Calculadora'
block footer
    include ../components/_footer
block content
    section.section-home-mt.container.col-md-10.mx-auto
            .row
                .col-md-5.pt-md-5.order-md-1.order-3
                    div.d-md-block.d-none
                        h1 Usá tus Dai para <br> pedir un préstamos
                        h2.font-60.text-primary.font-weight-bold al 24%
                    div
                        div.d-flex.align-items-center.mt-md-5.mt-5
                            img(src="img/icono-manito.svg").mr-2
                            p.mb-0
                                b.mr-1.font-weight-500 ¡Es fácil!
                                | Dejá tus Dai en garantía y llévate  <br class="d-md-block d-none"> pesos para gastar en lo que necesites.
                        div.d-flex.align-items-center.mt-3
                            img(src="img/icono-rayo.svg").mr-2
                            p.mb-0
                                b.mr-1.font-weight-500 ¡Al toque!
                                | Lo pedís y lo tenéis acreditado <br class="d-md-block d-none">en el momento.
                        div.d-flex.align-items-center.mt-3
                            img(src="img/icono-atras.svg").mr-2
                            p.mb-0
                                b.mr-1.font-weight-500 ¡Lo cancelas cuando quieras!
                                | Ni bien lo <br class="d-md-block d-none">haces, te devolvemos los Dai.
                .col-md-2.d-md-block.d-none.order-md-2.order-2.px-md-0
                    embed(src="img/persona-1.svg")
                .col-md-5.pt-5.order-md-3.order-1.pl-md-5.align-items-center.d-md-flex
                    div.d-md-none.d-block.mb-4
                        h1 Usá tus Dai para <br> pedir un préstamos
                        h2.font-60.text-primary.font-weight-bold al 24%
                    .card.pt-5.ml-md-4.col-md-11.px-md-0
                        p.text-center ¿Cuántos pesos necesitás?
                        div.d-flex.align-items-center
                            div.col-md-3.text-right
                                small ARG
                            div.col-md-6
                                .text-center.align-items-center.font-35.justify-content-center.set_amount
                                    |$
                                    span.amount 5.000
                                .md-form
                                    input#amount_input_set.form-control.mb-md-1.mb-0.set_amount.numberico(type='number',style='display:none;', placeholder="Monto" min="5" max="50000")

                                input(type="hidden" , name="amount" , value="5000").amount_input.
                            div.col-md-3
                                a#view_input_set
                                    i.fas.fa-retweet
                        div.justify-content-center.d-flex.my-3.col-10.mx-auto.find
                            #bajar.text-primary.mr-3
                                i.fal.fa-minus-circle.font-23
                            input#ex13(type='text')
                            #subir.text-primary.ml-3
                                i.fal.fa-plus-circle.font-23
                        div.rgba-blue-slight.d-flex.align-items-center.justify-content-center.py-2.text-primary
                            p.mb-0.text-right.font-12.mr-2 Interés anual a <br> partir de tan solo
                            span.font-30.font-weight-bold 22%
                        button.btn.btn-primary.btn-md.btn-rounded.my-4.col-md-6.mx-auto.font-12.col-8.simular_prestamo.font-15 Simular préstamo
block script