extends ../layouts/_layout
block variables
    - var title='Buenbit || Calculadora'
block footer
    include ../components/_footer1
block content
    section.section-home-mt.container.col-md-10.mx-auto.px-0
        .row.col-md-8.mx-auto.pt-5.px-0
            div.mx-md-auto.mb-4
                h1 Simulador de crédito
            .card.py-md-5.pt-5.pb-4.col-md-12.px-0
                p.text-center ¿Cuántos pesos necesitás?
                div.d-flex.align-items-center
                    div.col-md-3.text-right
                        small.text-primary ARG
                    div.col-md-6.justify-content-center.d-flex
                        span.amount.font-30 10.000
                    div.col-md-3
                div.justify-content-center.d-flex.my-3.border-bottom.pb-5
                    .col-md-8.mx-md-auto
                        input#ex13(type='text')
                div
                    .border-bottom.pb-5
                        p.text-center.mt-3 Plazo en meses
                        div.justify-content-center.d-flex
                            div(data-toggle='buttons')
                                label.btn.btn-info.btn-rounded.px-4.font-20
                                    input#option1(type='radio' name='options' autocomplete='off' checked='')
                                    |  3
                                label.btn.btn-info.active.btn-rounded.px-4.font-20
                                    input#option2(type='radio' name='options' autocomplete='off')
                                    |  6
                                label.btn.btn-info.btn-rounded.px-4.font-20
                                    input#option3(type='radio' name='options' autocomplete='off')
                                    |  12
                div
                    .border-bottom.pb-5
                        p.text-center.mt-5 Valor del préstamos sobre garantía
                        div.justify-content-center.d-flex
                            div(data-toggle='buttons')
                                label.btn.btn-info.btn-rounded.px-4.font-20.py-md-2
                                    input#option1(type='radio' name='options' autocomplete='off' checked='')
                                    |  25%
                                label.btn.btn-info.active.btn-rounded.px-4.font-20.py-md-2
                                    input#option2(type='radio' name='options' autocomplete='off')
                                    |  50%
                                label.btn.btn-info.btn-rounded.px-4.font-20.py-md-2
                                    input#option3(type='radio' name='options' autocomplete='off')
                                    |  75%
                div
                    .pb-5
                        p.text-center.mt-5 Garantía necesaria
                        div.justify-content-center.d-flex
                            div
                                div.col-md-6.justify-content-center.d-flex.align-items-center.mx-md-auto
                                    small.text-primary.mr-md-3 DAI
                                    span.font-30.text-primary 1.500
                div.rgba-blue-slight.d-flex.align-items-center.justify-content-center.py-2.text-primary.py-md-4
                    table
                        tr
                            td CTF:
                            td.font-weight-bold 25%
                        tr(style="height: 50px;")
                            td Cuota mensual:
                            td.font-weight-bold $250
                        tr
                            td Interés total a pagar:
                            td.font-weight-bold $270
                div
                    .pb-md-1
                        p.text-center.mt-5 Datos personales
                        div.justify-content-center.d-flex
                           form.col-md-10
                               .md-form.md-outline
                                   input#form81.form-control.validate.mb-md-1.mb-0(type='text', placeholder="Nombre y apellido")
                               .md-form.md-outline
                                   input#form82.form-control.validate(type='email', placeholder="Email")
                               button.btn.btn-primary.btn-md.btn-rounded.mt-2.mx-auto.font-12.col-12 Simular préstramos
            .container-fluid.pt-md-4.py-5.justify-content-center.d-none.d-md-flex
                a(href='' )
                    img(src="img/logo-buenbit-d-w.svg")